export VIRTUAL_ENV=.venv
layout python-venv

export ENVIRONMENT=DEV

export POSTGRES_USER=starlette
export POSTGRES_PASSWORD=starlette
export POSTGRES_DB=starlette

export PGUSER=starlette
export PGPASSWORD=starlette
export PGDATABASE=starlette
export PGHOST=localhost

