certifi==2019.11.28
chardet==3.0.4
Click==7.0
h11==0.9.0
httpie==2.0.0
httptools==0.1.1
idna==2.9
Pygments==2.5.2
requests==2.23.0
starlette==0.13.2
urllib3==1.25.8
uvicorn==0.11.3
uvloop==0.14.0
websockets==8.1
